<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.seckill.user.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.peng.seckill.user.entity.User">
        <id column="uid" property="uid" jdbcType="CHAR"/>
        <result column="loginname" property="loginname" jdbcType="VARCHAR"/>
        <result column="loginpass" property="loginpass" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    uid, loginname, loginpass, email, phone, address
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
    </select>

    <select id="selectByNameAndPass" resultMap="BaseResultMap" parameterType="com.peng.seckill.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        from t_user
        where loginname=#{loginname} and loginpass=#{loginpass}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where uid = #{uid,jdbcType=CHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where uid = #{uid,jdbcType=CHAR}
  </delete>

    <insert id="insert" parameterType="com.peng.seckill.user.entity.User">
    insert into t_user (uid, loginname, loginpass, 
      email, phone, address
      )
    values (#{uid,jdbcType=CHAR}, #{loginname,jdbcType=VARCHAR}, #{loginpass,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.peng.seckill.user.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="loginname != null">
                loginname,
            </if>
            <if test="loginpass != null">
                loginpass,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="loginname != null">
                #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="loginpass != null">
                #{loginpass,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.peng.seckill.user.entity.User">
        update t_user
        <set>
            <if test="loginname != null">
                loginname = #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="loginpass != null">
                loginpass = #{loginpass,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=CHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.peng.seckill.user.entity.User">
    update t_user
    set loginname = #{loginname,jdbcType=VARCHAR},
      loginpass = #{loginpass,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=CHAR}
  </update>
</mapper>